/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
header {
    background-color: #FFDBAA;
    grid-template-columns: 52.4% 44.5%;
    display:grid;
    border:black;
    border-style:outset;
    border-width:1px;
}
body {
    background-color:#D4A76A
}
button {
    background-color:#805215;
    color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
header div {
    font-weight: bolder;
    color:#553100;
    font-family: Arial, Helvetica, sans-serif;
    margin:4%;
    margin-left:6%;
    font-size: 180%;
    letter-spacing: 1.5px;
}
nav button {
    font-size: 80%;
    font-family: helvetica;
    width: 17%;
    height: 60%;
    padding-bottom: 2%;
    border-width: 0px;
    margin:3%;
    letter-spacing: 0px;
}
main {
    grid-template-rows: 45% 45%;
    display:block;
}
main div {
    grid-template-columns: 33% 33% 33%;
    display:grid;
    margin: 6%;
}
article {
    background-color: white;
    text-align:center;
    grid-template-rows: 20% 40% 40%;
    font-size: 90%;
}
a {
    text-align:left;
    margin:5%;
}
div article {
    margin: 10%;
    box-shadow: 0px 0px 10px;
    align-items:center;
    align-content:center;
}
footer article {
    grid-template-rows: 20% 40% 40%;
    display:block;
    align-content:center;
    align-items:center;
    margin: 5%;
    box-shadow: 0px 0px 10px;
}
article button {
    width:90%;
    height:40px;
    margin-bottom:4%;
    margin-top:1%;
}
h1 {
    margin:3%;
}
h2 {
    margin:1%;
}
#freakyboi {
    margin-top:1%;
    margin-bottom:1%;
}